       <!--- Basic Page Needs
   ================================================== -->
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <title>Mil Revolts, grup motorista, sortides en moto per Catalunya</title>
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="description" content="Grup motorista Mil Revolts sortides en moto en grup per Catalunya des de Barcelona">
	 <meta name="author" content="Grup Motorista Mil Revolts">
   <!-- RoR
   ================================================== -->
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_importmap_tags %>
    <%#= javascript_include_tag 'vendor/javascript/flowbite' %>
    <!--<link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet" />-->
    <%#= stylesheet_link_tag 'flowbite', media: 'all' %>
    <link href="/assets/stylesheets/flowbite.css" rel="stylesheet">
        
   <!-- Mobile Specific Metas
   ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<!-- CSS
    ================================================== -->
   <!--<script src="https://cdn.tailwindcss.com"></script>-->         
   <!-- Script
   =================================================== -->
   <!-- Favicons
	=================================================== -->
	<link rel="shortcut icon" href="/assets/images/TOP5_16c.ico" >



 <%#= yield :recaptcha_js %>