<!DOCTYPE html>
<html>
  <head>
      <%= render "inc/head" %>
  </head>
  <body>
    <header>
      <%= render "inc/topnavbar" %>
    </header>
    <main class="container mx-auto mt-28 px-5 flex">
      <!-- devise alerts -->
       <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>

      <%= yield %>

    </main>
    <footer>
      <%= render "inc/footer" %>
    </footer>

  </body>
</html>
